<!DOCTYPE html>
<html>

<head>
    <title>Smart Classroom System</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<h1>🏫 Smart Classroom Light & Attendance System</h1>


<div class="container">


<!-- Dashboard -->

<div class="card">

<h2>📊 Dashboard</h2>

<p>Total Students:
<b>{{ total_students }}</b>
</p>

<p>Present Students:
<b>{{ students_present }}</b>
</p>

<p>Absent Students:
<b>{{ students_absent }}</b>
</p>

</div>



<!-- Student Details -->

<div class="card">

<h2>👨‍🎓 Student Details</h2>


<form method="POST">

<input type="text" 
name="roll_no"
placeholder="Roll Number">


<br><br>


<input type="text"
name="student_name"
placeholder="Student Name">


<br><br>


<button type="submit">
Add Student
</button>

</form>


<hr>


<h3>Students List</h3>


{% for student in students %}

<p>

{{ student }}

<form method="POST" style="display:inline">

<button type="submit"
name="delete_student"
value="{{ student }}">
Delete
</button>

</form>

</p>


{% endfor %}


</div>





<!-- Attendance -->

<div class="card">

<h2>📋 Today's Attendance</h2>


<form method="POST">


<table border="1" width="100%">

<tr>

<th>Roll No</th>

<th>Student Name</th>

<th>Present</th>

<th>Absent</th>

</tr>



{% for student in students %}


<tr>

<td>
{{ student.split(',')[0] }}
</td>


<td>
{{ student.split(',')[1] }}
</td>


<td>

<input type="checkbox"
name="present"
value="{{ student }}">

</td>



<td>

<input type="checkbox"
name="absent"
value="{{ student }}">

</td>


</tr>


{% endfor %}


</table>


<br>


<button type="submit"
name="submit_attendance"
value="yes">

Submit Attendance

</button>


</form>


</div>





<!-- Smart Light -->

<div class="card">

<h2>💡 Smart Light</h2>

<p>
Light Status:
<b>{{ light_status }}</b>
</p>

</div>





<!-- AI Suggestion -->

<div class="card">

<h2>🤖 AI Suggestion</h2>

<p>
{{ suggestion }}
</p>

</div>



<!-- Log -->

<div class="card">

<h2>📄 Attendance Log</h2>

<p>
Attendance saved automatically.
</p>

</div>



</div>


</body>

</html>
