<button type="submit"
name="submit_attendance"
value="yes">

Save Attendance

</button>


</form>


</div>







<!-- Smart Light -->

<div class="card">

<h2>💡 Smart Light</h2>

<p>

Light Status:

<b>{{ light_status }}</b>

</p>

</div>







<!-- AI Suggestion -->

<div class="card">

<h2>🤖 AI Suggestion</h2>

<p>

{{ suggestion }}

</p>

</div>







<!-- Attendance Log -->

<div class="card">

<h2>📄 Attendance Log</h2>

<p>

Attendance saved automatically.

</p>

</div>



</div>


</body>

</html>
